@using DamSword.Web
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7/css/bootstrap-theme.css">
    <script src="/lib/jquery-3.2.0/js/jquery-3.2.0.js"></script>
    <script src="/lib/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="/lib/bootstrap-validator-0.11.9/js/validator.js"></script>
</head>
<body>
    @if (UserScope.Current?.User != null)
    {
        @await Component.InvokeAsync("Navigation")
    }

    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
