#brand-logo #brand-logo-image {
    min-width: 32px;
    margin-top: -9px;
    margin-right: 2px;
    display: inline;
}

#brand-logo #brand-logo-image {
    opacity: 0.83;
}

#brand-logo:hover #brand-logo-image {
    opacity: 1.0;
}